/* Colors */
$primary-text-color: #4F4F4F;
$primary-text-red-color: #EB5757;
$button-yellow-background-color: #F2C94C;
$button-gradient-background: linear-gradient(90deg, rgba(235,117,152,1) 0%, rgba(255,146,111,1) 100%);