@import 'variables';
@import 'mixins';

/* Reset css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.875rem;
  font-family: $primary-text-light;;
}

/* Basic styles */

h1 {
  font-size: 7.188rem;
  line-height: 6rem;
  color: $primary-text-red-color;
  font-weight: 900;
  margin: 0;
  font-family: $primary-text-header-bold;
}

h2 {
  font-size: 6.063rem;
  line-height: 5.75rem;
  color: $primary-text-red-color;
  font-weight: 900;
  margin: 0;
  font-family: $primary-text-header-bold;
}

h3 {
  font-size: 1.25rem;
  color: $primary-text-grey-color;
  font-weight: 600;
  line-height: 1.5rem;
  margin: 0;
  font-family: $primary-text-sf-regular;
}

h4 {
  font-size: 1.875rem;
  color: $primary-text-color;
  font-weight: 300;
  margin: 0;
  font-family: $primary-text-light;
}

a {
  font-family: Inter, sans-serif;
  color: var(--link-color);
  font-size: var(--font-size-medium);
  font-weight: 600;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

input, select, textarea {
  appearance: none;
  margin: 0;
  border: 1px solid transparent;
  background: #fff;
  border-radius: 3.813rem;
  font-size: 1.25rem;
}

input:focus, select:focus, textarea:focus {
  outline: 1px solid var(--font-color-form-acccent);
}

input[type=email]::placeholder, input[type=text]::placeholder {
  color: transparentize($primary-text-red-color, .4);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button-primary {
  transition: all .4s ease;
  padding: 0.938rem 3.25rem;
  background-color: $button-yellow-background-color;
  border-radius: 2.5rem;
  box-sizing: border-box;
  &:hover {
    transition: all .3s ease;
    background: $primary-text-red-color;
    color: #fff;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  }
}

.button-secondary {
  color: $primary-text-red-color;
  margin-left: 1.563rem;
  transition: all .3s ease;
  &:hover {
    text-decoration: underline;
    transition: all .3s ease;
  }
}

.button-gradient {
  background: $button-gradient-background;
  color: #fff;
  transition: all .4s ease;
  padding: 1rem 4.313rem;
  border-radius: 1.125rem;
  &:hover {
    transition: all .4s ease;
    color: $primary-text-color;
    background-position: 180px;
  }
}

.button-contact-form {
  border: 3px solid #fff;
  border-radius: 3.813rem;
  background-color: $primary-text-red-color;
  padding: 0.68rem 1.2rem;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-family: $primary-text-sf-regular;
  width: 10.5rem;
  transition: all .4s ease;
  font-weight: 600;
  line-height: 1.4rem;
  &:hover {
    color: $primary-text-red-color;
    background: #fff;
    transition: all .4s ease;
  }
}

/* Main Page styles */

.main-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  .main-header {
    background-image: url("../img/header-bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 60.813rem;
    padding-top: 6.5rem;
    &__logo {
      text-align: center;
      img {
        display: block;
        width: 29.25rem;
        height: auto;
        margin: 0 auto;
      }
    }
    &__content {
      width: 23rem;
      margin: 7.75rem auto 0;
    }
    &__text {
      color: $primary-text-color;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-family: $primary-text-light;
      margin: 3rem 0 3.2rem 0;
      font-weight: 500;
      width: 22.5rem;
    }
    &__buttons {
      margin-top: 2.5rem;
    }
  }
  .main-content {
    .electric-services {
      padding-top: 3.125rem;
      background-image: url(../img/services-bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center 14.375rem;
      &__head {
        margin-bottom: 6.875rem;
      }
      &__grid-container {
        display: grid;
        grid-template-columns: 20.125rem 20.125rem 20.125rem;
        grid-template-rows: 20.5rem 20.5rem;
        gap: 4.5rem 2.5rem;
        justify-content: center;
        text-align: center;
        padding-bottom: 6.5rem;
      }
      &__card-item {
        border-radius: 1.875rem;
        background-color: #fff;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
        transition: all .3s ease;
        &:hover {
          transition: all .3s ease;
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
        }
      }
      &__service-title {
        text-transform: uppercase;
        margin-top: 1.25rem;
      }
      &__service-link {
        display: inline-block;
        line-height: 1.5rem;
        margin-top: 1.375rem;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
        &:hover {
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.45);
        }
      }
    }
    .about-us {
      padding-top: 3.125rem;
      padding-bottom: 5.938rem;
      background-image: url(../img/about-bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center -1rem;
      &__grid-container {
        display: grid;
        grid-template-columns: 20rem 20rem 20rem;
        grid-template-rows: 8.375rem 8.375rem;
        gap: 2.5rem 3.125rem;
        justify-content: center;
        margin-top: 3.125rem;
      }
      &__card-item {
        &:hover {
          .about-us__number {
            color: #fff;
            background: $about-us-section-numbers-colors;
            transition: all .3s ease;
          }
        }

      }
      &__number {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        border: 1px solid $about-us-section-numbers-colors;
        border-radius: 50%;
        text-align: center;
        color: $about-us-section-numbers-colors;
        margin-bottom: 0.625rem;
        font-family: Poppins, sans-serif;
        font-weight: 900;
        line-height: 1.4rem;
        transition: all .3s ease;
      }
      &__buttons {
        margin-top: 3.7rem;
        padding-left: 4.2rem;
      }
      &__text {
        color: $primary-text-color;
      }
    }
    .gallery {
      padding: 3.125rem 0;
      &__head {
        margin-bottom: 4.875rem;
      }
      &__grid-container {
        display: grid;
        grid-template-columns: 17.688rem 17.688rem 17.688rem 17.688rem;
        grid-template-rows: 17.688rem 17.688rem;
        gap: 1.438rem;
      }
      &__img-link {
        display: block;
        border-radius: 0.625rem;
        transition: all 300ms ease;
        position: relative;
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 0.625rem;
          transition: all .3s ease;
          background: $primary-text-red-color;
          opacity: 0;
        }
        &::before {
          content: 'Open a photo';
          display: block;
          position: absolute;
          color: #fff;
          top: 60%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 10;
          letter-spacing: 1px;
          text-transform: uppercase;
          opacity: 0;
          transition: 600ms ease all;
          text-shadow: 0 2px 2px rgba(0,0,0,0.65);
          font-size: 0.95rem;
        }
        &:hover {
          position: relative;
          transition: 300ms ease all;
          &::after {
            opacity: .7;
            transition: all 1200ms ease;
            transform: scale(90%);
          }
          &::before {
            opacity: 1;
            transition: 600ms ease all;
            top: 50%;
          }
        }
      }
    }
  }
  .main-footer {
    display: grid;
    grid-template-areas: "head head" "form info";
    gap: 6.25rem 0;
    width: 100%;
    padding: 3.125rem 6.875rem 8.75rem 6.875rem;
    background-color: $primary-text-red-color;
    border-bottom-left-radius: 3.813rem;
    border-bottom-right-radius: 3.813rem;
    header {
      text-align: center;
      grid-area: head;
      h2 {
        color: #fff;
      }
    }
    &__contact-form {
      width: 23.375rem;
      grid-area: form;
    }
    &__contact-info {
      width: 22rem;
      grid-area: info;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1.5rem 1.5rem 1.5rem;
      gap: 1.875rem;
      color: #fff;
      padding-top: 2.188rem;
      margin-left: -4.25rem;
    }
    &__contact-email, &__contact-phone, &__contact-address {
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      font-weight: normal;
    }
    &__contact-email, &__contact-phone, &__contact-address {
      &::before {
        content: '';
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1.5rem;
      }
    }
    &__contact-email {
      &::before {
        background: url("../img/mail.png") center center no-repeat;
      }
    }
    &__contact-phone{
      &::before {
        background: url("../img/phone.png") center center no-repeat;
      }
    }
    &__contact-address {
      &::before {
        background: url("../img/location.png") center center no-repeat;
      }
    }
    &__contact-form-grid {
      display: grid;
      grid-template-columns: 23.375rem;
      grid-template-rows: 3.5rem 3.5rem 3.5rem;
      gap: 0.875rem;
      input[type="email"], input[type="text"] {
        width: 23.375rem;
        padding: 1rem 1.5rem;
      }
    }
    &__contact-form-button {
      text-align: center;
    }
  }
}

/* Subscriber details page */
.new-describer {
  background-image: url("../img/header-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  .subscriber {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35rem;
    height: 25rem;
    position: absolute;
    padding: 5rem 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparentize($primary-text-red-color, .2);
    border-radius: 3.813rem;
    font-family: $primary-text-light;
    h4 {
      font-weight: 500;
      font-size: 1.8rem;
      color: $button-yellow-background-color;
      text-align: center;
      text-shadow: 0 2px 2px rgba(0,0,0,0.65);
    }
    h3 {
      color: #fff;
      font-family: $primary-text-light;
      font-weight: 500;
      text-shadow: 0 2px 2px rgba(0,0,0,0.65);
    }
    &__name, &__surname, &__email {
      color: #fff;
      text-shadow: 0 2px 2px rgba(0,0,0,0.75);
    }
  }
}


/* Media queries */

/* Parallax */

@media screen and (min-width: 100rem) {
  .main-grid-container {
    transform: translate3d(0, calc($scrollY / 4), 0);
    .main-header {
      transform: translate3d(0, calc($scrollY / 14), 0);
      &__logo {
        transform: translate3d(0, calc($scrollY / 4), 0);
      }
      &__content {
        transform: translate3d(0, calc($scrollY / 6), 0);
      }
    }
    .main-content {
      transform: translate3d(0, calc($scrollY / 14), 0);
      .electric-services {
        background-position: center calc($scrollY / 8);
      }
      .electric-services, .about-us, .gallery   {
        transform: translate3d(0, calc($scrollY / 12), 0);
      }
    }
    .main-footer {
      transform: translate3d(0, calc($scrollY / 6.5), 0);
    }
  }
}

@media screen and (max-width: 81.25rem) {
  .container {
    padding: 0 2rem;
  }
  .main-grid-container {
    .main-header {
      min-height: 50rem;
    }
  }
}

/* Mobile version */

@media screen and (max-width: 43.75rem) {
  .container {
    padding: 0 2rem;
  }
  .main-grid-container {
    .main-header {
      min-height: 30rem;
      padding-top: 2rem;
      &__logo {
        display: flex;
        justify-content: flex-end;
        img {
          display: block;
          width: 20.25rem;
          height: auto;
          margin: 0 2rem 0 0;
        }
      }
      &__content {
        margin: 1rem auto 1rem auto;
        width: 18rem;
        h1 {
          font-size: 5.188rem;
        }
      }
      &__text {
        margin: 1rem 0 1rem 0;
      }
      &__logo {
        img {
          width: 11rem;
        }
      }
    }
    .main-content {
      .electric-services {
        padding-top: 2.125rem;
        background-position: center 13rem;
        header {
          text-align: center;
          margin-bottom: 5.875rem;
          h2 {
            font-size: 3.5rem;
          }
        }
        &__grid-container {
          grid-template-columns: 38rem;
          grid-template-rows: repeat(6, 38rem);
          gap: 3rem;
          padding-bottom: 2rem
        }
        &__service-title {
          margin-top: 1.25rem;
        }
        &__service-link {
          display: inline-block;
          line-height: 1.5rem;
          margin-top: 1.375rem;
        }
        &__card-item {
          border-radius: 4.875rem;
          img {
            width: 100%;
          }
        }
      }
      .about-us {
        padding-top: 1.125rem;
        header {
          text-align: center;
          h2 {
            font-size: 3.5rem;
          }
        }
        &__grid-container {
          grid-template-columns: 100%;
          grid-template-rows: repeat(6, 5rem);
          gap: 5.5rem;
          margin-top: 1.125rem
        }
        &__buttons {
          text-align: center;
          padding: 0;
          margin-top: 7rem;
        }
        &__text {
          font-size: 1.1rem;
        }
      }
      .gallery {
        header {
          text-align: center;
          margin-bottom: 2rem;
          h2 {
            font-size: 3.5rem;
          }
        }
        &__grid-container {
          grid-template-columns: 37rem;
          grid-template-rows: repeat(8, 37rem);
          gap: 2rem;
          justify-content: center;
        }
        &__img-link {
          img {
            width: 100%;
          }
        }
      }
    }
    .main-footer {
      grid-template-areas: "head" "info" "form";
      gap: 2rem 0;
      padding: 1rem 4rem 2rem 4rem;
      justify-content: center;
      justify-items: center;
      header {
        text-align: center;
        h2 {
          font-size: 3.5rem;
        }
      }
      &__contact-form {
        margin-top: 1rem;
      }
      &__contact-info {
        margin-left: 0;
        padding-top: 0;
      }
      &__contact-form-button {
        margin-top: 1rem;
      }
    }
  }
}
