@font-face {
  font-family: "SF Bold Display", sans-serif;
  src: url("../fonts/SF/SFProDisplay-Black.ttf");
}
@font-face {
  font-family: "SF Display", sans-serif;
  src: url("../fonts/SF/SFProDisplay-Light.ttf");
}
@font-face {
  font-family: "SF Display Regular", sans-serif;
  src: url("../fonts/SF/SFProDisplay-Regular.ttf");
}
/* Fonts */
/* Colors */
/* Other variables */
/*  Mixins */
/* Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.875rem;
  font-family: Poppins, sans-serif;
}

h1 {
  font-size: 7.188rem;
  line-height: 6rem;
  color: #EB5757;
  font-weight: 900;
  margin: 0;
  font-family: "SF Bold Display", sans-serif;
}

h2 {
  font-size: 6.063rem;
  line-height: 5.8rem;
  color: #EB5757;
  font-weight: 900;
  margin: 0;
  font-family: "SF Bold Display", sans-serif;
}

h3 {
  font-size: 1.25rem;
  color: #333;
  font-weight: 600;
  line-height: 1.5rem;
  margin: 0;
  font-family: "SF Display Regular", sans-serif;
}

h4 {
  font-size: 1.875rem;
  color: #4F4F4F;
  font-weight: 300;
  margin: 0;
  font-family: Poppins, sans-serif;
}

a {
  font-family: Inter, sans-serif;
  color: var(--link-color);
  font-size: var(--font-size-medium);
  font-weight: 600;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

input, select, textarea {
  appearance: none;
  margin: 0;
  border: 1px solid transparent;
  background: var(--input-background-color);
}

input:focus, select:focus, textarea:focus {
  outline: 1px solid var(--font-color-form-acccent);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button-primary {
  padding: 0.938rem 3.25rem;
  background-color: #F2C94C;
  border-radius: 2.5rem;
  transition: all 300ms ease;
}
.button-primary:hover {
  background: linear-gradient(90deg, rgb(235, 117, 152) 0%, rgb(255, 146, 111) 100%);
  color: #fff;
  transition: all 300ms ease;
}

.button-secondary {
  color: #EB5757;
  margin-left: 1.563rem;
  transition: all 300ms ease;
}
.button-secondary:hover {
  text-decoration: underline;
  transition: all 300ms ease;
}

.button-gradient {
  background: linear-gradient(90deg, rgb(235, 117, 152) 0%, rgb(255, 146, 111) 100%);
  color: #fff;
  transition: all 300ms ease;
  padding: 1rem 4.313rem;
  border-radius: 1.125rem;
}
.button-gradient:hover {
  transition: all 300ms ease;
  color: #4F4F4F;
  background: #F2C94C;
}

/* Main Page styles */
/* Header */
.main-grid-container {
  display: grid;
  grid-template-columns: 1fr;
}
.main-grid-container .main-header {
  background-image: url("../img/header-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 60.813rem;
  padding-top: 6.25rem;
}
.main-grid-container .main-header__logo {
  text-align: center;
}
.main-grid-container .main-header__logo img {
  margin-left: 6.25rem;
}
.main-grid-container .main-header__content {
  width: 22.5rem;
  margin: 8.75rem auto 0;
}
.main-grid-container .main-header__text {
  color: #4F4F4F;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: Poppins, sans-serif;
  margin: 1.875rem 0;
  font-weight: 500;
}
.main-grid-container .main-header__buttons {
  margin-top: 2.5rem;
}
.main-grid-container .main-content .electric-services {
  padding-top: 3.125rem;
  background-image: url(../img/services-bg.png);
  background-repeat: no-repeat;
  background-position: center 14.375rem;
}
.main-grid-container .main-content .electric-services__head {
  margin-bottom: 6.875rem;
}
.main-grid-container .main-content .electric-services__grid-container {
  display: grid;
  grid-template-columns: 20.125rem 20.125rem 20.125rem;
  grid-template-rows: 20.5rem;
  gap: 4.5rem 2.5rem;
  justify-content: center;
  text-align: center;
  padding-bottom: 6.5rem;
}
.main-grid-container .main-content .electric-services__grid-container .electric-services__card-item {
  border-radius: 1.875rem;
  background-color: #fff;
}
.main-grid-container .main-content .electric-services__grid-container .electric-services__card-item h3 {
  text-transform: uppercase;
  margin-top: 1.25rem;
}
.main-grid-container .main-content .about-us {
  padding-top: 3.125rem;
}
.main-grid-container .main-content .gallery {
  padding-top: 3.125rem;
}

/*# sourceMappingURL=main.css.map */
