@font-face {
  font-family: "SF Bold Display", sans-serif;
  src: url("../fonts/SF/SFProDisplay-Black.ttf");
}
@font-face {
  font-family: "SF Display", sans-serif;
  src: url("../fonts/SF/SFProDisplay-Light.ttf");
}
@font-face {
  font-family: "SF Display Regular", sans-serif;
  src: url("../fonts/SF/SFProDisplay-Regular.ttf");
}
/* Fonts */
/* Colors */
/* Other variables */
/*  Mixins */
/* Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.875rem;
  font-family: Poppins, sans-serif;
}

/* Basic styles */
h1 {
  font-size: 7.188rem;
  line-height: 6rem;
  color: #EB5757;
  font-weight: 900;
  margin: 0;
  font-family: "SF Bold Display", sans-serif;
}

h2 {
  font-size: 6.063rem;
  line-height: 5.75rem;
  color: #EB5757;
  font-weight: 900;
  margin: 0;
  font-family: "SF Bold Display", sans-serif;
}

h3 {
  font-size: 1.25rem;
  color: #333;
  font-weight: 600;
  line-height: 1.5rem;
  margin: 0;
  font-family: "SF Display Regular", sans-serif;
}

h4 {
  font-size: 1.875rem;
  color: #4F4F4F;
  font-weight: 300;
  margin: 0;
  font-family: Poppins, sans-serif;
}

a {
  font-family: Inter, sans-serif;
  color: var(--link-color);
  font-size: var(--font-size-medium);
  font-weight: 600;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

input, select, textarea {
  appearance: none;
  margin: 0;
  border: 1px solid transparent;
  background: #fff;
  border-radius: 3.813rem;
  font-size: 1.25rem;
}

input:focus, select:focus, textarea:focus {
  outline: 1px solid var(--font-color-form-acccent);
}

input[type=email]::placeholder, input[type=text]::placeholder {
  color: rgba(235, 87, 87, 0.6);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button-primary {
  transition: all 0.4s ease;
  padding: 0.938rem 3.25rem;
  background-color: #F2C94C;
  border-radius: 2.5rem;
  box-sizing: border-box;
}
.button-primary:hover {
  transition: all 0.3s ease;
  background: #EB5757;
  color: #fff;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

.button-secondary {
  color: #EB5757;
  margin-left: 1.563rem;
  transition: all 0.3s ease;
}
.button-secondary:hover {
  text-decoration: underline;
  transition: all 0.3s ease;
}

.button-gradient {
  background: linear-gradient(90deg, rgb(235, 117, 152) 0%, rgb(255, 146, 111) 100%);
  color: #fff;
  transition: all 0.4s ease;
  padding: 1rem 4.313rem;
  border-radius: 1.125rem;
}
.button-gradient:hover {
  transition: all 0.4s ease;
  color: #4F4F4F;
  background-position: 180px;
}

.button-contact-form {
  border: 3px solid #fff;
  border-radius: 3.813rem;
  background-color: #EB5757;
  padding: 0.68rem 1.2rem;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-family: "SF Display Regular", sans-serif;
  width: 10.5rem;
  transition: all 0.4s ease;
  font-weight: 600;
  line-height: 1.4rem;
}
.button-contact-form:hover {
  color: #EB5757;
  background: #fff;
  transition: all 0.4s ease;
}

/* Main Page styles */
.main-grid-container {
  display: grid;
  grid-template-columns: 1fr;
}
.main-grid-container .main-header {
  background-image: url("../img/header-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 60.813rem;
  padding-top: 6.5rem;
}
.main-grid-container .main-header__logo {
  text-align: center;
}
.main-grid-container .main-header__logo img {
  display: block;
  width: 29.25rem;
  height: auto;
  margin: 0 auto;
}
.main-grid-container .main-header__content {
  width: 23rem;
  margin: 7.75rem auto 0;
}
.main-grid-container .main-header__text {
  color: #4F4F4F;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: Poppins, sans-serif;
  margin: 3rem 0 3.2rem 0;
  font-weight: 500;
  width: 22.5rem;
}
.main-grid-container .main-header__buttons {
  margin-top: 2.5rem;
}
.main-grid-container .main-content .electric-services {
  padding-top: 3.125rem;
  background-image: url(../img/services-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 14.375rem;
}
.main-grid-container .main-content .electric-services__head {
  margin-bottom: 6.875rem;
}
.main-grid-container .main-content .electric-services__grid-container {
  display: grid;
  grid-template-columns: 20.125rem 20.125rem 20.125rem;
  grid-template-rows: 20.5rem 20.5rem;
  gap: 4.5rem 2.5rem;
  justify-content: center;
  text-align: center;
  padding-bottom: 6.5rem;
}
.main-grid-container .main-content .electric-services__card-item {
  border-radius: 1.875rem;
  background-color: #fff;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.main-grid-container .main-content .electric-services__card-item:hover {
  transition: all 0.3s ease;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}
.main-grid-container .main-content .electric-services__service-title {
  text-transform: uppercase;
  margin-top: 1.25rem;
}
.main-grid-container .main-content .electric-services__service-link {
  display: inline-block;
  line-height: 1.5rem;
  margin-top: 1.375rem;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
.main-grid-container .main-content .electric-services__service-link:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.45);
}
.main-grid-container .main-content .about-us {
  padding-top: 3.125rem;
  padding-bottom: 5.938rem;
  background-image: url(../img/about-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -1rem;
}
.main-grid-container .main-content .about-us__grid-container {
  display: grid;
  grid-template-columns: 20rem 20rem 20rem;
  grid-template-rows: 8.375rem 8.375rem;
  gap: 2.5rem 3.125rem;
  justify-content: center;
  margin-top: 3.125rem;
}
.main-grid-container .main-content .about-us__card-item:hover .about-us__number {
  color: #fff;
  background: #D89595;
  transition: all 0.3s ease;
}
.main-grid-container .main-content .about-us__number {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #D89595;
  border-radius: 50%;
  text-align: center;
  color: #D89595;
  margin-bottom: 0.625rem;
  font-family: Poppins, sans-serif;
  font-weight: 900;
  line-height: 1.4rem;
  transition: all 0.3s ease;
}
.main-grid-container .main-content .about-us__buttons {
  margin-top: 3.7rem;
  padding-left: 4.2rem;
}
.main-grid-container .main-content .about-us__text {
  color: #4F4F4F;
}
.main-grid-container .main-content .gallery {
  padding: 3.125rem 0;
}
.main-grid-container .main-content .gallery__head {
  margin-bottom: 4.875rem;
}
.main-grid-container .main-content .gallery__grid-container {
  display: grid;
  grid-template-columns: 17.688rem 17.688rem 17.688rem 17.688rem;
  grid-template-rows: 17.688rem 17.688rem;
  gap: 1.438rem;
}
.main-grid-container .main-content .gallery__img-link {
  display: block;
  border-radius: 0.625rem;
  transition: all 300ms ease;
  position: relative;
}
.main-grid-container .main-content .gallery__img-link::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.625rem;
  transition: all 0.3s ease;
  background: #EB5757;
  opacity: 0;
}
.main-grid-container .main-content .gallery__img-link::before {
  content: "Open a photo";
  display: block;
  position: absolute;
  color: #fff;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0;
  transition: 600ms ease all;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.65);
  font-size: 0.95rem;
}
.main-grid-container .main-content .gallery__img-link:hover {
  position: relative;
  transition: 300ms ease all;
}
.main-grid-container .main-content .gallery__img-link:hover::after {
  opacity: 0.7;
  transition: all 1200ms ease;
  transform: scale(90%);
}
.main-grid-container .main-content .gallery__img-link:hover::before {
  opacity: 1;
  transition: 600ms ease all;
  top: 50%;
}
.main-grid-container .main-footer {
  display: grid;
  grid-template-areas: "head head" "form info";
  gap: 6.25rem 0;
  width: 100%;
  padding: 3.125rem 6.875rem 8.75rem 6.875rem;
  background-color: #EB5757;
  border-bottom-left-radius: 3.813rem;
  border-bottom-right-radius: 3.813rem;
}
.main-grid-container .main-footer header {
  text-align: center;
  grid-area: head;
}
.main-grid-container .main-footer header h2 {
  color: #fff;
}
.main-grid-container .main-footer__contact-form {
  width: 23.375rem;
  grid-area: form;
}
.main-grid-container .main-footer__contact-info {
  width: 22rem;
  grid-area: info;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5rem 1.5rem 1.5rem;
  gap: 1.875rem;
  color: #fff;
  padding-top: 2.188rem;
  margin-left: -4.25rem;
}
.main-grid-container .main-footer__contact-email, .main-grid-container .main-footer__contact-phone, .main-grid-container .main-footer__contact-address {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: normal;
}
.main-grid-container .main-footer__contact-email::before, .main-grid-container .main-footer__contact-phone::before, .main-grid-container .main-footer__contact-address::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1.5rem;
}
.main-grid-container .main-footer__contact-email::before {
  background: url("../img/mail.png") center center no-repeat;
}
.main-grid-container .main-footer__contact-phone::before {
  background: url("../img/phone.png") center center no-repeat;
}
.main-grid-container .main-footer__contact-address::before {
  background: url("../img/location.png") center center no-repeat;
}
.main-grid-container .main-footer__contact-form-grid {
  display: grid;
  grid-template-columns: 23.375rem;
  grid-template-rows: 3.5rem 3.5rem 3.5rem;
  gap: 0.875rem;
}
.main-grid-container .main-footer__contact-form-grid input[type=email], .main-grid-container .main-footer__contact-form-grid input[type=text] {
  width: 23.375rem;
  padding: 1rem 1.5rem;
}
.main-grid-container .main-footer__contact-form-button {
  text-align: center;
}

/* Media queries */
/* Parallax */
@media screen and (min-width: 120rem) {
  .main-grid-container {
    transform: translate3d(0, calc(var(--scrollTop) / 4), 0);
  }
  .main-grid-container .main-header {
    transform: translate3d(0, calc(var(--scrollTop) / 14), 0);
  }
  .main-grid-container .main-header__logo {
    transform: translate3d(0, calc(var(--scrollTop) / 4), 0);
  }
  .main-grid-container .main-header__content {
    transform: translate3d(0, calc(var(--scrollTop) / 6), 0);
  }
  .main-grid-container .main-content {
    transform: translate3d(0, calc(var(--scrollTop) / 14), 0);
  }
  .main-grid-container .main-content .electric-services {
    background-position: center calc(var(--scrollTop) / 8);
  }
  .main-grid-container .main-content .electric-services, .main-grid-container .main-content .about-us, .main-grid-container .main-content .gallery {
    transform: translate3d(0, calc(var(--scrollTop) / 12), 0);
  }
  .main-grid-container .main-footer {
    transform: translate3d(0, calc(var(--scrollTop) / 6.5), 0);
  }
}
/* Mobile version */
@media screen and (max-width: 43.75rem) {
  .container {
    padding: 0 1.5rem;
  }
  .main-grid-container .main-header {
    min-height: 30rem;
    padding-top: 2rem;
  }
  .main-grid-container .main-header__logo {
    display: flex;
    justify-content: flex-end;
  }
  .main-grid-container .main-header__logo img {
    display: block;
    width: 20.25rem;
    height: auto;
    margin: 0 2rem 0 0;
  }
  .main-grid-container .main-header__content {
    margin: -1.3rem auto 0;
  }
  .main-grid-container .main-content .electric-services header {
    text-align: center;
  }
  .main-grid-container .main-content .electric-services__grid-container {
    grid-template-columns: 60%;
    grid-template-rows: 40rem 40rem 40rem 40rem 40rem 40rem;
    gap: 3rem;
  }
  .main-grid-container .main-content .electric-services__service-title {
    margin-top: 1.25rem;
  }
  .main-grid-container .main-content .electric-services__service-link {
    display: inline-block;
    line-height: 1.5rem;
    margin-top: 1.375rem;
  }
  .main-grid-container .main-content .electric-services__card-item {
    border-radius: 4.875rem;
  }
  .main-grid-container .main-content .electric-services__card-item img {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
